#main-container{
  place-items: center center;
}

#register-form{
  max-width: 80%;
  padding: 20px;
  box-shadow: 10px 13px 59px -3px rgba(0,0,0,0.86);
  -webkit-box-shadow: 10px 13px 59px -3px rgba(0,0,0,0.86);
  -moz-box-shadow: 10px 13px 59px -3px rgba(0,0,0,0.86);
}

.form-control:focus{
  z-index: 5;
}

.fq-logo{
  width: 72px;
  height: 72px;
}