#main-container{
  place-items: center center;
}

#sign-in-form{
  max-width: 330px;
  padding: 50px 35px 50px 35px;
  border: 2px solid #529990;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 5px 5px 2px #529990;
}

.form-control:focus{
  z-index: 5;
}

.fq-logo{
  width: 72px;
  height: 72px;
}