.cover-container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video{
    width: 100%;
    height: 200vh;
    position: absolute;
    z-index: -1;
    object-fit: cover;
}

.covercontent{
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}

.covertitle{
    align-self: center;
    color: black;
    font-size: 100px;
}

@media (max-width: 768px) {
    .covertitle{
        font-size: 80px;
    }
}

@media (max-width: 480px) {
    .covertitle{
        font-size: 40px;
    }
}

