.CreatePatient{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.videeo{
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: -1;
    object-fit: cover;
}

@media (max-width: 480px) {
    .griid-item{
        height: 35px;
        margin-bottom: 1px !important;
    }
    #birthda{
        margin-bottom: 11px !important;
    }
    #oss{
        margin-bottom: 11px !important;
    }
}