#main-container{
  margin-top: 3%;
  place-items: center center;
  width: 100%;
  background-color: white;
}

#register-form{
  max-width: 80%;
}

.form-control:focus{
  z-index: 5;
}

.fq-logo{
  width: 72px;
  height: 72px;
}

