.SignUp{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vide{
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: -1;
    object-fit: cover;
}

@media (max-width: 480px) {
    #avid{
        margin: none !important;
    }

    .grid-item{
        height: 35px;
        margin-bottom: 1px !important;
    }
}