.cover-container {
    height: 80vh;
    width: 100%;
    object-fit: contain;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    position: absolute;
    
}

.video{
    object-fit: cover;
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: -1;

}

.cover-container > h1 {
color: rgb(62, 235, 76);
font-size: 100px;
}

.cover-container > p {
    margin-top: 8px;
    color:rgb(252, 0, 210);
    font-size: 32px;  
}
