.mainn-divv{
    align-self: center;
    display: flex;
    justify-content: center;
    align-content: center;
}

.form{
    align-self: center;
    height: 500px !important;
    width: 500px;
    background: #FFFFFF;
    box-shadow: 0px 0px 50px 5px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.label{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 20px;
    color: #000000;
    align-self: center;
}

.input{
    font-family: 'Montserrat';
    font-size: 17px;
    width: 90%;
    height: 80px;
    border: 3px solid #FFBC11;
    border-radius: 20px;
    margin-bottom: 20px;
    align-self: center;
}

.btn-enviar{
    margin-top: 20px;
    align-self: center;
    text-align: center;
    width: 90%;
    height: 70px;
    background: #FFBC11;
    border-radius: 35px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 70px;
    color: #FFFFFF;
    text-decoration: none;
}